	<h1>This is our HQ Trivia Headquarters</h1>
	
	<a href="/questions/new">Add a New Question</a>
	<% @questions.each do |question| %>
		<div class="question">
			<strong><%= question.body %></strong>
			<ol>
				<li><%= question.option1 %></li>
				<li><%= question.option2 %></li>
				<li><%= question.option3 %></li>
			</ol>
			<div class="players">
				<ul>
					<% question.users.each do |user| %>
					<li><%= user.first %> <%= user.last %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>