	<h1>This is our HQ Trivia Headquarters</h1>
	
	All users without a password:

	<% User.no_password.each do |user| %>
		<li><%= user.full_name %></li>
	<% end %>

	<%= erb :login %>

	<% if @current_user %>
	<a href="/questions/new">Add a New Question</a>
	<% end %>
	<% @questions.each do |question| %>
		<div class="question">
			<strong><%= question.body %></strong>
			<ol>
				<li><%= question.option1 %></li>
				<li><%= question.option2 %></li>
				<li><%= question.option3 %></li>
			</ol>
			<div class="players">
				<ul>
					<% question.users.each do |user| %>
					<li><%= user.full_name %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>