<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table id="posts">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Body</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr id="post_<%= post.id %>">
        <td><%= post.user.username %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= select_tag :category_id, options_for_select( [["Select a Cat",nil]] + Category.pluck( :name, :id) ), 'data-id': post.id %></td>
        <td><span class="likes"><%= post.likes.to_i %></span> likes | <%= link_to 'Like', like_post_path(post), remote: true %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>
document.querySelector("#posts").addEventListener("change",function(event){
  console.log(event);
  if( event.target.tagName == "SELECT" ) {
    console.log("About to patch")
    axios.patch(
      `posts/${event.target.getAttribute("data-id")}.json`,
      {category_id: event.target.value,
       authenticity_token: "<%= form_authenticity_token %>"}
    ).then(function(response){
      console.log(response);
      console.log(response.data.category)
      event.target.parentNode.innerHTML = `<strong>${response.data.category.name}</strong>`;
    });
  }
});


</script>

<br>

<%= link_to 'New Post', new_post_path %>
