<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :player_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :player_last_name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :player_number %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id, id: :player_team_id %>
  </div>

  <div class="field">
    <%= form.label :position_id %>
    <%= form.text_field :position_id, id: :player_position_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
