<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @player.number %>
</p>

<p>
  <strong>Team:</strong>
  <%= link_to @player.team.name, @player.team %>
</p>

<p>
  <strong>Position:</strong>
  <%= link_to @player.position.name, @player.position %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
