<!DOCTYPE html>
<html>
  <head>
    <title>HqRailsHeadquarters</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
  		<li><a href="/">Home</a></li>
  		<!-- <li><a href="/users">Users</a></li> -->
  		<li><%= link_to "Users", :users %></li>
  	</nav>
    <%= yield %>
  </body>
</html>
